body {
    color: rgb(255, 255, 255)
  }
  body{
    background-color: rgb(0, 0, 0)
  }
  body{
    font-family:Arial, Helvetica, sans-serif
  }
  #mi-id {
    color:blue;
    font-size: 18px;
  }
  @media (max-width: 600px) {
    .column {
      flex: 100%;
    }
  }
  .row {
    display: flex;
    flex-wrap:wrap;
    margin: 10px;
  }
  .column {
    flex: 1;
    padding: 10px;
  }
  /* Estilos para pantalla con ancho mayor o igual a 800px */
  @media (min-width: 800px) {
    .mi-elemento {
      width: 100%;
    }
  }

  /* Estilos para pantallas con ancho menor a 800px */
  @media (max-width: 799px) {
    .mi-elemto {
      width: 50%;
    }
  }

  /* Estilos base para todos los dispositivos */
  header {
    width: 100%;
  }

  p {
    font-size: 16px; /* tamaño de fuente base */
  }

  /* Media query para dispositivos móviles */
  @media screen and (max-width: 767px) {
    header {
      width: 90%; /* El header ocupa el 90% del ancho de la pantalla */
    }

    p {
      font-size: 1.2rem; /* El tamaño de fuente de los párrafos es de 1.2 veces el tamaño base (16px) */
    }
  }
  @media (max-width: 767px) {
    header {
      background-color:black;
    }
  }
  @media (max-width:767px) {
    nav {
      font-size:16px
    }
  }
  @media (min-width: 1200px) {
    header {
      width: 1200px;
    }
  }
  .container-nav {
    display: flex;
    padding: 10px;
    height: 50px;
    background-color: black;
  }



  .navbar {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }



  .brand {
    display: flex;
    align-items: center;
  }



  .li>a {
    padding: 8px 24px;
  }



  li {
    list-style-type: none;
  }



  a {
    color: white;
    text-decoration: none;
  }



  .nav-links {
    display: flex;
    align-items: center;
  }



  .button-menu-toggle {
    display: none;
  }

@media (max-width: 768px) {
  .column {
    flex: 100%;
  }



  .nav-links {
    display: none;
  }



  .button-menu-toggle {
    display: block;
    background-color: white;
    border:none;
    border-radius: 50px;
    padding: 0 24px;
    font-family: monospace;
    font-weight: bold;
    font-size: 20px;
  }
  
  .nav-links.nav-Links-responsive {
    position: absolute;
    display: flex;
    background-color: rgba(20,20,20,0.95);
    width: 100%;
    heigth: 100%;
    top: 70px;
    left: 0;
    flex-direction: column;
    padding-top: 200px;
    align-items: center;
    gap: 70px;
    font-size: 40px;



  }
}